<%= link_to_remote "[#{section_choice.name} #{section_choice.stype}] #{section_choice.startTime && section_choice.startTime.strftime('%I:%M%p')} #{section_choice.days} #{section_choice.instructor} #{section_choice.building}", {:url => {:action => 'toggle_section', :id => semester, :section => section_choice.id}, :loading => "Element.show('getting_results'); Element.hide('loading_stopped')", :complete => "Element.hide('getting_results'); Element.show('loading_stopped')"}, {:id => "choice_#{section_choice.id}", :class => (section_in_plan?(section_choice, semester) ? 'section_selected' : 'section_unselected')} %>
