<body>
<div id='crn_list'>
<% @crns.each do |crn| %>

<span class='crn'>
<%= crn %>
</span>

<% end %>
</div>

<div id='crn_help'>
Login to Banner, select Registration &amp; Records -&gt; Registration -&gt; Add/Drop Classes, and then copy the above CRNs into the CRN boxes.
</div>
</body>
