<div id="flashes">
    <% if flash[:error] -%>
        <div id="error"><b>Error: </b><%=h flash[:error] %></div><br />
        <script language="javascript" type="text/javascript">
            <%= visual_effect :highlight, 'error', :duration => 2, :startcolor => '\'#ff0000\'' %>
        </script>
    <% end -%>
    <% if flash[:notice] -%>
        <div id="notice"><%=h flash[:notice] %></div><br />
    <% end -%>
</div>
