<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">							
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SoCo - <%= @title %></title>

<%= stylesheet_link_tag controller.controller_name %>
	<script language="JavaScript" type="text/javascript"><!--
if  ((navigator.appName == "Microsoft Internet Explorer") && (navigator.userAgent.indexOf ("Opera") == -1))  {
	document.write ('<link href="/reviews/style_ie.css" rel="stylesheet" type="text/css" media="screen" />');
};
//-->
</script>
</head>
      <%= yield %>
</html>
